# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://admin:admin123@127.0.0.1:55432/matrix_crm?schema=public"

# DATABASE_URL="postgresql://root:admin123@127.0.0.1:55432/real_estate?schema=public"

JWT_ACCESS_SECRET=demo-secrets
JWT_REFRESH_SECRET=refresh-demo-secrets

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d


# Mail configuration for sending emails using SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=your_mail_id_to_send_emails
SMTP_PASSWORD=your_mail_password_or_app_password

SMTP_FROM="Matrix CRM <anil.mauganj100@gmail.com>"
