.layout {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background: var(--color-background);
}

.body {
  flex: 1;

  display: flex;

  overflow: hidden;
}

.content {
  flex: 1;

  overflow-y: auto;

  padding: 24px;

  background: var(--color-background);
}