.container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 16px;

  margin-bottom: 24px;
}

.left {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text);
}

.subtitle {
  margin-top: 4px;
  color: var(--color-text-light);
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}